@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://blogs.mtdv.me/giveaways/CryptoD" target="_blank">Free Robux</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred, plese contact the pikmins they probably fix it.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>