@page "/"
@rendermode InteractiveServer
<PageTitle>Home</PageTitle>
<!-- From Uiverse.io by milegelu --> 
<p role="status">Doge Walet: @currentCount</p>
<p role="status">Doge Per Click: 1 </p>
<p role="status">0 Ð/s</p>
<div>
  <button class="button"@onclick="IncrementCount">
    <img
      src="https://cryptologos.cc/logos/dogecoin-doge-logo.png?v=040" 
      alt="icon"                         
      height="64"
      width="64"
      style="vertical-align: middle; marg in-right: 32px;" />
    Dogecoin
  </button>
</div>
<Component />
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
